.feedback-title {
  width: 58%;
  margin-left: 48%;
  display: flex;
  justify-content: space-between;
}

.feedback-content {
  margin: 2rem;
  font-size: 1rem;
}

.feedback-image {
  width: 20%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
