/* ValuesSection.css */

/* Style pour les Box */
.value-box {
  background-color: azure;
  padding: 16px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem; /* Taille de la police */
  letter-spacing: 0.5px; /* Espacement des lettres */
  -webkit-font-smoothing: antialiased; /* Rend le texte plus net */
  transition: all 0.3s ease; /* Transition fluide */
}

.value-box:hover {
  background-color: #66aaff; /* Couleur de fond au survol */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
  transform: scale(1.05); /* Agrandissement léger au survol */
  cursor: pointer; /* Curseur pointer au survol */
}

/* Style pour le titre */
.section-title {
  margin-bottom: 16px;
  color: black;
  text-align: center;
  font-weight: 700;
}
